

.container{
  display: flex;
  flex-direction: row; 
  color: white;
  font-family: 'Poppins', sans-serif;
  width: 80%; 
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 5em;
}

.image-container{
  min-width: 270px;
  max-height: fit-content;
  margin-right: 2.5em;
  overflow: hidden; 
  display: inline-block;
  border-radius: 10px;
  border: 1.5px solid #c4b681;
}

.image-container img{
  width: 100%;
  min-width: 270px;
  min-height: 394px;
  padding: .5em;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}

.container img:hover{
  transform: scale(1.093);
  cursor: pointer;
}

.right-side{
  padding-top: 2em;
}

h1 span{
  color: red  ;
}

hr{
  border: 1.5px solid #7e7452;
  margin-top: 1em;
  margin-bottom: 1em;
}

.right-side p{
  line-height: 2.1em;
}

@media (max-width: 1690px) {
  .container{
    max-width: 2000px;
  }

  .right-side {
    padding-top: 0px;
  }
}


@media (max-width: 768px) {
  .container{
    padding-top: 0px;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .image-container{
    max-width: fit-content;
    margin-right: 0px;
  }

  .image-container img{
    min-height: 30px;
    width: 270px;
  }
}

