.certificates-container {
  width: 60%;
  margin: 0 auto;
  padding-top: 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.certificate-card{
  background-color: #3a3831;
  padding: 1em;
  border-radius: 10px;
  line-height: 2em;
  margin-top: 2em;
  width: 60%;
}

.certificate-card h2{
  margin-bottom: 1em;
}

.certificate-card a{
  color: #ff5353;
}



@media (max-width: 1690px) {
  .certificates-container {
    width: 80%;
  }

  .certificate-card{
    padding: 1.5em 2em;
    width: 90%;
  }
}


@media (max-width: 790px) {
  .certificates-container {
    width: 90%;
  }

  .certificate-card{
    padding: 1.5em 2em;
    width: 90%;
  }
}