.hero-container {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  color: white;
  padding-inline: 5em;
  flex: 1;
  text-align: center;
}

.hero-container h1 {
  font-size: 3.4rem;
}

.hero-container h1:first-of-type {
  font-size: 5rem;
  margin-bottom: 1rem;
}

.name {
  color: #c4b681;
}

.hero-p {
  color: rgb(230, 224, 200);
  line-height: 1.6em;
  margin-top: 1em;
}

.see-projects-btn {
  border: none;
  padding: 1rem 2.5rem;
  font-size: larger;
  background-color: #c4b681;
  color: white;
  border-radius: 10px;
  margin-top: 2em;
  margin-right: 1em;
  transition: 0.15s ease;
}

.see-projects-btn:hover {
  cursor: pointer;
  background-color: #847a57;
  color: white;
}

.work-with-me-btn {
  border: none;
  padding: 1rem 2.5rem;
  font-size: larger;
  background: none;
  border: 1px #c4b681 solid;
  color: #c4b681;
  border-radius: 10px;
  margin-top: 2em;
}

.work-with-me-btn:hover {
  cursor: pointer;
}

@media (max-width: 1300px) {
  .hero-container {
    padding-inline: 3em;
  }

  .hero-container h1:first-of-type {
    font-size: 4rem;
    margin-bottom: 0px;
  }

  .hero-container h1 {
    font-size: 2.5rem;
  }

  .hero-img {
    height: 500px;
  }
}

@media (max-width: 1012px) {
  .hero-container {
    padding-inline: 2em;
  }

  .hero-container h1:first-of-type {
    display: none;
  }

  .name{
    color: red;
  }

  .hero-img {
    height: 370px;
  }

  .hero-container button {
    font-size: smaller !important;
  }
}

@media (max-width: 768px) {
  .hero-img {
    height: 250px;

    border-radius: 50%;
    border: 1px solid #c4b681;
  }

  .hero-container {
    flex-direction: column-reverse;
    text-align: center;
  }

  .see-projects-btn,
  .work-with-me-btn {
    padding: 1rem 1.5rem;
  }
}
